.homepage_galery {
  max-width: var(--galery-width);

  margin-left: var(--gutter);
  margin-right: var(--gutter);
}

.search_container {
  text-align: start;
  margin-bottom: 30px;
  max-width: var(--galery-width);
}

@media only screen and (max-width: 1250px) {
  .search_container {
    text-align: center;

  }
}

.search {
  width: 250px;
  height: 30px;

  border-radius: 5px;
}

.homepage_label {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.homepage_singleDog {
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--card-size));
  gap: var(--galery-item-gap);

  place-content: center;
}