.breed_galery {
  max-width: var(--galery-width);

  margin-left: var(--gutter);
  margin-right: var(--gutter);
}

.breed_label {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.breed_singleDog {
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--card-size));
  gap: var(--galery-item-gap);

  place-content: center;
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 36px;

  cursor: pointer;
}